@charset "UTF-8";

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f6fa;
}

body {
	margin:0px;
	padding:0px;
}

.login_outer{
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login {
	vertical-align: middle;
	margin: auto;
	width: 40%;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: "Arial";
	padding: 0.5em 1em;
	color: #3c4458;
	border-bottom: solid 6px #aac5de;
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	color: #3c4458;
	border: solid 3px #3c4458;
	padding: 0.5em;
	border-radius: 0.5em;
}

.form {
	margin-right: auto;
	margin-left: auto;
	padding: 60px;
}

.loginForm {
	margin-right: auto;
	margin-left: auto;
	padding: 5% 5% 5% 25%;
}

.error_messages {
	color:red;
}
.error-message-list{
	color:red;
}

dt {
	font-weight: bold;
	float: left;
	width: 25%;
}

dt.add {
	font-weight: bold;
	float: left;
	width: 15%;
}

dd {
	paddidng-top: 2.0em;
	padding-bottom: 2.0em;
}

span.employeeNumber {
	top: 10px;
	left: 10px;
}

span.password {
	bottom: 10px;
	left: 20px;
}

.login_button{
	width: 25%;
    margin: auto;
    padding-right: 15%;
}

button {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background: #3c4458;
	border-bottom: solid 2px #000000;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

button:active {
	border-bottom: solid 2px #3c4458;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

input.button {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background: #3c4458;
	border-bottom: solid 2px #000000;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

input.button:active {
	border-bottom: solid 2px #3c4458;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*メニューバー*/
.menu {
	padding: 1.0em;
	text-align: center;
	background-color: #3c4458;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 8.5em;
}

.menu a {
	text-decoration: none;
	color: #ffffff;
	padding:1em 0.2em;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
}

.menu a.current {
	color: #00B0F0;
	border-bottom: 2px solid #00B0F0;
}

.menu a:hover {
	color: #3476a8;
	text-decoration: none;
	background:white;
}

.antibug_menu{
	padding: 1.0em;
	text-align: center;
	background-color: #3c4458;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow:hidden;
}

.antibug_menu ul {
	margin: 0;
	padding: 0;
}

.antibug_menu li {
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 8em;
}

.antibug_menu a {
	text-decoration: none;
	color: #ffffff;
	padding:1em 0.2em;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
}

.antibug_menu a.current {
	color: #00B0F0;
	border-bottom: 2px solid #00B0F0;
}

.antibug_menu a:hover {
	color: #3476a8;
	text-decoration: none;
	background:white;
}

/*ホーム*/
h1.home {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	color: #3c4458;
	border: solid 3px #3c4458;
	padding: 0.5em;
	border-radius: 0.5em;
}

/*チャート*/
.chart {
	margin-right: auto;
	margin-left: auto;
	padding: 1.0em;
	width: 70%;
	height: 70%;
}

/*診断ボタン*/
.test_bottun_box {
	width: 200px;
	margin: auto;
	padding: 1.0em;
}

a.test_button {
	text-decoration: none; display : inline-block;
	border-radius: 5%;
	font-size: 18pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 12px;
	background: #c15762;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 6px 6px 3px #666666;
	border: 2px solid #c15762;
	display: block;
}

a.test_button:hover {
	box-shadow: none;
	color: #c15762;
	background: #ffffff;
}

/* mySetting画面*/

.main_setting dl{
	width:54%;
	padding:10px 20px;
	margin-left:auto;
	margin-right:auto;
}

.main_setting dt{
	min-width :140px;
	float:left;
}

/*診断画面*/

.exam_menu{
	padding: 1.0em;
	text-align: center;
	background-color: #3c4458;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow:hidden;
}

.exam_menu ul {
	margin: 0;
	padding: 0;
}

.exam_menu li {
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
}

.exam_menu a {
	text-decoration: none;
	color: #ffffff;
}

.exam_menu a.current {
	color: #00B0F0;
	border-bottom: 2px solid #00B0F0;
}

.exam_menu a:hover {
	color: #3476a8;
	text-decoration: none;
	background:white;
}


.wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: "Arial";
	padding-top: 50px; color : #3c4458;
	border-bottom: solid 6px #aac5de;
	border-radius: 5px;
	color: #3c4458;
}

h1.exam {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	color: #3c4458;
	border: solid 3px #3c4458;
	padding: 0.5em;
	border-radius: 0.5em;
}

.answer-rappaer{
	padding: 1.0em;
}

span.question{
	font-size: 24px;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:1.0em;
}

div.applicable{
	font-size:16px;
	font-family:Arial;
	padding: 1.0em;

}

.send_box {
	width: 80px;
	margin: auto;
	padding:1.0em
}

.send {
	text-decoration: none; display : inline-block;
	border-radius: 5%;
	font-size: 18pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 12px;
	background: #c15762;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 6px 6px 3px #666666;
	border: 2px solid #c15762;
	display: inline-block;
}

.send:hover {
	box-shadow: none;
	color: #c15762;
	background: #ffffff;
}

/*ラジオボタン*/

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.radio-inline_input_drive {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline_input_analyse {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline_input_create {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline_input_volunteer {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline_label_drive {
    display: block;
    width:55%;
    padding: 0.5rem 1rem;
    margin-right: 16px;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline_label_drive:hover {
	background:#c157628c;
}

.radio-inline_label_analyse {
    display: block;
    width:55%;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline_label_analyse:hover {
	background:#3476a88c;
}

.radio-inline_label_create {
    display: block;
    width:55%;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline_label_create:hover{
	background:#d2d5658c;
}

.radio-inline_label_volunteer {
    display: block;
    width:55%;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline_label_volunteer:hover{
	background:#29928f8c;;
}

.radio-inline_input_drive:checked + .radio-inline_label_drive {
    background: #c15762;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline_input_analyse:checked + .radio-inline_label_analyse {
    background: #3476a8;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline_input_create:checked + .radio-inline_label_create {
    background: #d2d565;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline_input_volunteer:checked + .radio-inline_label_volunteer {
    background: #29928f;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline_input_drive:focus + .radio-inline_label_drive {
    outline-color: #000000;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.radio-inline_input_analyse:focus + .radio-inline_label_analyse {
    outline-color: #000000;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.radio-inline_input_create:focus + .radio-inline_label_create {
    outline-color: #000000;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.radio-inline_input_volunteer:focus + .radio-inline_label_volunteer {
    outline-color: #000000;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

/*リザルト*/
.result_menu{
	padding: 1.0em;
	text-align: center;
	background-color: #3c4458;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow:hidden;
}

.result_menu ul {
	margin: 0;
	padding: 0;
}

.result_menu li {
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
}

.result_menu a {
	text-decoration: none;
	color: #ffffff;
}

.result_menu a.current {
	color: #00B0F0;
	border-bottom: 2px solid #00B0F0;
}

.result_menu a:hover {
	color: #3476a8;
	text-decoration: none;
	background:white;
}

.result_main {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: "Arial";
	padding-top: 50px; color : #3c4458;
	border-bottom: solid 6px #aac5de;
	border-radius: 5px;
	color: #3c4458;
}

.chart{
	margin-top: 5%;
}

span.exam_date{
	font-size: 24px;
	display: inline-block;
	text-align:center;
	width: 100%;
}

.image_frame{
	text-align:center;
}
.image{
	width:80%;
}

input[type="radio"][disabled] + .radio-inline_label_drive{
    border:1px solid #DCDCDC;
    border-radius:5px;
	background:#cccccc;
}

input[type="radio"][disabled] + .radio-inline_label_analyse{
    border:1px solid #DCDCDC;
    border-radius:5px;
	background:#cccccc;
}

input[type="radio"][disabled] + .radio-inline_label_volunteer{
    border:1px solid #DCDCDC;
    border-radius:5px;
	background:#cccccc;
}

input[type="radio"][disabled] + .radio-inline_label_create{
    border:1px solid #DCDCDC;
    border-radius:5px;
	background:#cccccc;
}

.answer-wrapper label{
	margin-left:3em;
}

.answer-wrapper{
	margin:15px 10px	;
}

.error-message{
	color:red;
}

.signupForm{
	width:100%;
	font-size:14px;
	margin:10px;

}

.signupForm dl{
	width:380px;
	padding:10px 20px;
	margin-left:auto;
	margin-right:auto;
}

.signupForm dt{
	min-width :180px;
	float:left;
}

.signupForm dd{
	margin-left: 20px;
}

.errorMessages{
	color:red;
}

/*ユーザー管理*/
.management_menu{
	width: 50%;
	margin: auto;
	padding-right: 2.0em
}

h2.signup{
  /*  display: inline-block;*/
    padding: 0em 2.0em;
}

h2.add{
	/*display: inline-block;*/
	padding: 0em 2.0em;
}

a.signup {
	text-decoration: none; display : inline-block;
	width: 100%;
	border-radius: 5%;
	font-size: 18pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 12px;
	background: #c15762;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 6px 6px 3px #666666;
	border: 2px solid #c15762;
	display: block;
}

a.signup:hover {
	box-shadow: none;
	color: #c15762;
	background: #ffffff;
}

/*テーブル関連*/

.usersInfo{
	padding: 0% 5%;
}

table {
  border-collapse: collapse;
  border: solid 2px;
  margin: 0 auto;
  padding: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px -6px #00000073;
}

tr {
  background-color: #fff;
}

td {
  padding: 20px 0;
  border: dashed 1px;
   vertical-align: middle !important;
}
/*
th {
  width: 20%;
  padding: 10px 0;
  font-size: 14px;
  background-color: #3476a8;
  color:#fff;
}
*/
tr{
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color:#3a3a3a;

}

tr:hover{
  background-color: #d4faff !important;
}

form{
    padding: 0.5em;
}

table td.buttons{
	display: flex;
}

/*セッティングフォーム*/

input.setting {
	display: block;
	line-height: 1.6;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
}

.settingForm {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 5% 5% 5% 35%;
}

label.setting{
	margin:auto
}

select{
	display:inline-block;
	width: 24%;
	font-size: 14px;
	padding: 3px 38px 3px 8px;
	line-height:1.6;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.setting_button{
	width: 10%;
	margin: auto;
	padding-right: 8%
}

.add_button{
	width: 10%;
	margin: auto;
	padding-right: 50%
}

/*分析画面*/

.statistics_form{
	padding: 0% 5%;
}

.comparison_form{
	padding: 0% 5%;
}

th.point{
  width:  110px !important;
  padding: 10px 0;
  font-size: 14px;
  background-color: #3476a8;
  color:#fff;
}

/* The following is for Table sorter */

.tablesorter-default th, .tablesorter-default thead td {
    font-weight: 700;
    color: #fff !important;
   /* background-color: blue !important;*/
    border-collapse: collapse;
    border-bottom: #ccc 2px solid;
    font-size: 14px;
    background-color: #3476a8 !important;
}
.tablesorter-default th{
	 padding: 15px 1px !important;
}

button.chart {
	min-width: 60px;
}
